body {
    background:blanchedalmond
}

p {
    text-align: center;
}

h1 { text-align: center;/*  alinhando o nome do colegio*/
h2 { text-align: justify;}

}

em strong {
    color: #FF0000;
}